.signin {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    .left{
        height: 100vh;
        background: url("../../../../public/image/bg_home.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .right{
        height: 100vh;
    }
    .title-logo{
        color: #00b96b;
    }
    .div-card{
        height: 400px;
        width: 63%;
    }
    .card{
        height: 100%;
        border-radius: 25px;
    }
}