.home {
    margin: 0;
    padding: 0;
    .bg-chat{
        background-image: url("../../../../public/image/bg-wa.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}